/* src/components/PopularCourses.css */

.popular-courses {
    margin: 0;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    padding: 40px 20px;
    text-align: center;
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Apply a blur effect behind the container */
}

/* Add media query for responsive design */
@media (max-width: 768px) { /* Adjust this breakpoint as needed */
    .popular-courses {
        padding-top: 20px; /* Decrease top padding for mobile */
    }

    .cards {
        flex-direction: column; /* Stack cards vertically */
        align-items: center; /* Center align cards */
    }

    .cards .card {
        width: 100%; /* Make card width responsive */
        max-width: 250px; /* Set a max width for better mobile display */
        margin-bottom: 20px; /* Space between cards */
    }
}

.popular-courses h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.popular-courses p {
    color: black;
    margin-bottom: 30px;
    font-size: 1.1rem;
}

.cards {
    display: flex; /* Horizontal layout for cards */
    justify-content: center; /* Center the cards */
    gap: 20px; /* Space between cards */
}

.cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 150px; /* Adjusted height for better visibility */
    width: 200px; /* Card width */
    border-radius: 15px; /* More rounded corners */
    color: white;
    cursor: pointer;
    transition: 400ms;
    backdrop-filter: blur(10px); /* Apply a blur effect behind the card */
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background for the cards */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    padding: 10px; /* Add padding for space inside the card */
}

.cards .card:hover {
    transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}

.cards .icon {
    width: 50px; /* Adjust the icon size as needed */
    height: auto; /* Maintain aspect ratio */
}

.cards .iconIcse {
    width: 170px; /* Adjust the icon size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: -15px;
}

.cards .card p.second-text {
    font-size: 1em;
    margin-bottom: 5px; /* Add space below the second text */
}

.cards .card p.course-code {
    font-size: 0.8em;
    margin-top: 5px; /* Space above the course code */
    margin-bottom: 10px; /* Add space below the course code */
}
